<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>c3r-web</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>org.unitedstollutions.c3r.messages.C3RWebMessages</param-value>
	</context-param>
	<listener>
		<listener-class>org.unitedstollutions.c3r.listeners.ContextListener</listener-class>
	</listener>
	<servlet>
		<display-name>Dispatcher</display-name>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>org.unitedstollutions.c3r.web.Dispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/checker/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/checker/date</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<display-name>c3r-web</display-name>
			<url-pattern>/checker/*</url-pattern>
			<url-pattern>index.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<scripting-invalid>false</scripting-invalid>
			<is-xml>false</is-xml>
			<include-prelude>/jsp/template/prelude.jspf</include-prelude>
			<include-prelude>/jsp/template/preludeTagLib.jspf</include-prelude>
			<include-prelude>/jsp/template/preludeErrorPage.jspf</include-prelude>
			<include-coda>/jsp/template/coda.jspf</include-coda>
		</jsp-property-group>
		<jsp-property-group>
			<display-name>c3r-web</display-name>
			<url-pattern>/error/*</url-pattern>
			<el-ignored>false</el-ignored>
			<scripting-invalid>false</scripting-invalid>
			<is-xml>false</is-xml>
			<include-prelude>/template/preludeTagLib.jspf</include-prelude>
			<include-prelude>/template/prelude.jspf</include-prelude>
			<include-coda>/template/coda.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>
</web-app>